html {
    font-size: 20px;
    text-align: center
}
body {
  font-family: "Arial", "Meiryo", sans-serif;
}
.blue {
    color: skyblue;
}
.pink {
    color: rgb(255, 192, 203);
}
.google-fonts {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
h1{
    font-size: 2.0rem;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1.2em;
    text-decoration: underline rgb(115, 115, 114);
    text-shadow: 1px 1px 2px gray;
}
#basic{
    font-weight: bold;
}