#top {
  width: 800px;
  margin-top:  10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color:#dcc9f4;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.top-child{
    text-align:center;
     width: 20%;
       margin-left:5px;
       margin-right:5px;
     background-color:#ffd9df;
}


#middle{
    position:relative;
    width: 800px;
    height: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:#ffd9df
    
}

#middle-child01{
    width: 200px;
    height: 200px;
    position:absolute;
     top: 100px;
     left: 100px;
    background-color:#87ceeb
}

#middle-child02{
    width: 200px;
    height: 200px;
    position:absolute;
     top: 300px;
     left: 300px;
    background-color:#87ceeb
}

#middle-child03{
    width: 200px;
    height: 200px;
    position:absolute;
     top: 500px;
     left: 500px;
    background-color:#87ceeb
}

#bottom{
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color:#87ceeb
}

#bottom-child01{
    width: 400px;
    height: 100px;
    background-color:#e5dcf0
}

#bottom-child02{
    width: 400px;
    height: 100px;
    position: relative;
     left: 200px;
    background-color:#e5dcf0
}

#bottom-child03{
    width: 400px;
    height: 100px;
    position: relative;
     left: 400px;
    background-color:#e5dcf0

}
